<div style="text-align:center; margin-top:20px;">
  <img src="http://hintr.co/assets/mailer-image.png">

  <a href="http://hintr.co/" target="blank">
    <img src="http://hintr.co/assets/mailer-button.jpg">
  </a>
</div>