<div style="text-align:center; margin-top:20px;">
  <img src="mailer-image.png">

  <a href="http://hintr.co/" target="blank">
    <p style="background-image:url('mailer-button.jpg'); width:486px; height:80px; margin: 0 auto;"></p>
  </a>
</div>
