<% if !current_user %>

  <a href="/auth/facebook" class="btn btn-sm btn-social-facebook" id="sign_in">
          <i class="fui-facebook"></i>
          Connect with Facebook
  </a>

<%# elsif !current_user.interested_in %>

  Ask for what user is interested in

<%# elsif !current_user.watched_intro %>

  Play video

<% else %>

  <!-- nav bar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-left">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">hintr</a>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>Signed in as <strong><%= current_user.name %></strong></li>
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03"></button>
      <a href="#fakelink" class="navbar-brand">Flat UI</a>
      <div class="nav-collapse collapse in" id="nav-collapse-03">
        <ul class="nav">
          <li>
            <a href="#fakelink">
              Menu Item
              <span class="navbar-unread">1</span>
            </a>
          </li>
          <li class="active">
            <a href="#fakelink">
              Messages
              <span class="navbar-unread">1</span>
            </a>
            <ul>
              <li><a href="#fakelink">Element One</a></li>
              <li>
                <a href="#fakelink">Sub menu</a>
                <ul>
                  <li><a href="#fakelink">Element One</a></li>
                  <li><a href="#fakelink">Element Two</a></li>
                  <li><a href="#fakelink">Element Three</a></li>
                </ul> <!-- /Sub menu -->
              </li>
              <li><a href="#fakelink">Element Three</a></li>
            </ul> <!-- /Sub menu -->
          </li>
          <li>
            <a href="#fakelink">
              About Us
            </a>
          </li>
        </ul> <!-- /nav -->

        <form class="navbar-search pull-left" action="" align="center">
          <div class="input-group input-group-sm">
            <input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <i class="fui-search"></i>
              </button>
            </span>
          </div>
        </form>

        <ul class="nav pull-right">
          <li class="divider"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Settings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#fakelink">Action</a></li>
              <li><a href="#fakelink">Another action</a></li>
              <li><a href="#fakelink">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#fakelink">Separated link</a></li>
            </ul>
          </li>
        </ul> <!-- /nav -->
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


  <script>

      function findHints() {
        return $.ajax({
          url: "/users/<%= current_user.id %>/load_hints",
          type: 'post'
        });
      }

      function showHints() {
        return $.ajax({
          url: "/users/<%= current_user.id %>/matches",
          type: 'get'
        });
      }

      $('#load-hints').on('click', function() {
      findHints().done(function(data) {
        console.log(data);
      });
      $(this).off();
    });

    $('#show-hints').on('click', function() {
      showHints().done(function(data) {
        for (i=0;i<data.length;i++) {
          $matchDiv = $('<div>');
          $matchDiv.addClass('match');
          $matchPic = $('<img>');
          $matchPic.attr('src', data[i]['profile_picture']);
          $matchDiv.append($matchPic);
          $('body').append($matchDiv);
        }
      });
      $(this).off();
    });

  </script>

<% end %>
