<% if Rails.env.development? %>
fbKey = 227056587454819
<% else if Rails.env.production? %>
fbKey = 225100650998953
<% end %>

jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

  window.fbAsyncInit = ->
    FB.init(appId: fbKey, cookie: true)

    $('#sign_in').click (e) ->
      e.preventDefault()
      FB.login ((response) ->
        <%# requesting scope http://stackoverflow.com/a/12663627/2474735 %>
        window.location = '/auth/facebook/callback' if response.authResponse), scope: "email, user_birthday, user_likes, user_relationships, user_relationship_details, friends_birthday, friends_likes, friends_location, friends_relationships, friends_relationship_details, friends_religion_politics, friends_checkins"

    $('#sign_out').click (e) ->
      FB.getLoginStatus (response) ->
        FB.logout() if response.authResponse
      true
