body {
  font-family: 'Dosis', sans-serif;
}


/* LOGIN SCREEN */
.login-body {
  background: url('background-login.jpg') no-repeat center center fixed;
  background-size: cover;
}

#intro.container {
  margin-top: 11%;
  height: 100%;
}

#intro h1 {
  font-size: 6em;
  font-family: 'Engagement', cursive;
  color: #e74c3c;
}

#intro p {
  font-size: 2em;
  color: #34495E;
}


/* INTERESTED IN SCREEN */
.interested-in {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}

.interested-in img {
  border: 3px solid #00BD9C;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-family: 'Dosis', sans-serif;
}

.interested-in h1 {
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}

.interested-in h3 {
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}
.demo-col {
  float: none;
  margin: 0 auto;
  text-align: left;
  width: 100px;
  padding: 10px;
  display: inline-block;
}

.interested-in a {
  width: 50%;
  margin: 0 auto;
}


/*  LOADING SCREEN */
#moving-image {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 300px;
  border-radius: 50%;
  margin-left: -350px;
  margin-top: 2%;
}

.loading-title {
  margin-top: 1%;
  font-size: 5em;
  text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 3em;
  margin-top: 3%;
  text-align: center;
}

.loading-mini-message {
  text-align: center;
}

.progress {
  width: 60%;
  margin: 30px auto;
}


/* MAIN SCREEN */
.navbar .navbar-brand {
  font-family: 'Engagement', cursive;
  font-size: 60px;
  font-weight: 400;
  border: 0;
}
.jumbotron {
  background-color: rgba(44, 62, 80,0.9);
  text-align: center;
  min-height: 800px;
  margin-bottom: 0px;
}
ul.nav.navbar-nav.navbar-right li{
  float: none;
}


/* HINTS SCREEN */
#hints {
  margin-top: 90px;
}

.img-circle {
  width: 200px;
  height: 200px;
}
.match {
  text-align: center;
  padding-bottom: 10px;
}

#hint-rows .match span {
  margin: -10px;
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 100px;
  z-index: 200;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-shadow: rgb(13, 96, 80) 1px 1px,
  rgb(13, 96, 80) 2px 2px;
  cursor: pointer;
}

.hover {
  opacity: 0.2;
  cursor: pointer;
}

.green-ring {
  border: 4px solid #2ecc71;
}

.red-ring {
  border: 4px solid #e74c3c;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}

.modal {
  overflow-y: auto;
}
.modal-header {
  text-align: center;
}
.modal-content {
  width: 100%;
}

.img-thumbnail {
  height: 400px;
  width: 400px;
}

.modal-body {
  text-align: center;
}

@media (max-width: 480px) {
  .img-circle {
    height: 300px;
    width: 300px;
  }

  #hint-rows .match span {
    margin: -15px;
    width: 100%;
    top: 150px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .img-circle {
    height: 400px;
    width: 400px;
  }
  #hint-rows .match span {
    margin: -15px;
    width: 100%;
    top: 175px;
    font-size: 48px;
  }
}

@media (max-width: 991px) {
  .img-circle {
    height: 350px;
    width: 350px;
  }
  #hint-rows .match span {
    margin: -15px;
    width: 100%;
    top: 175px;
    font-size: 48px;
  }
}

/* LAYOUT */
#flash-error{
  color:red;
}

#flash-notice{
  color:green;
}


/* MEDIA QUERIES*/
