body {
  font-family: 'Dosis', sans-serif;
}


/* LOGIN SCREEN */
.login-body {
  background: url('background-login.jpg') no-repeat center center fixed;
  background-size: cover;
}

#intro.container {
  margin-top: 11%;
  height: 100%;
}

#intro h1 {
  font-size: 6em;
  font-family: 'Engagement', cursive;
  color: #e74c3c;
}

#intro p {
  font-size: 2em;
  color: #34495E;
}


/* INTERESTED IN SCREEN */
.interested-in {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 1.5%;
}

.interested-in img {
  border: 3px solid #00BD9C;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  font-family: 'Dosis', sans-serif;
}

.interested-in h1 {
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}

.interested-in h3 {
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}

#hints {
  margin-top: 90px;
}

.img-circle {
  min-width: 200px;
  max-width: 200px;
}
.match {
  text-align: center;
  padding-bottom: 10px;
}

#hint-rows .match span {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 100px;
  z-index: 200;
  color: #1abc9c;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: extra-light;
}

.hover {
  opacity: 0.4;
}

.demo-col {
  float: none;
  margin: 0 auto;
  text-align: left;
  width: 100px;
  padding: 10px;
}

.interested-in a {
  width: 50%;
  margin: 0 auto;
}


/* MAIN SCREEN */
.navbar .navbar-brand {
  font-family: 'Engagement', cursive;
  font-size: 60px;
  font-weight: 400;
  border: 0;
}
.jumbotron {
  background-color: rgba(44, 62, 80,0.9);
  text-align: center;
  min-height: 800px;
  margin-bottom: 0px;
}

/* LAYOUT */
#flash-error{
  color:red;
}

#flash-notice{
  color:green;
}
