body {
  font-family: 'Dosis', sans-serif;
  background: url('http://f.cl.ly/items/1T0U3Z0x1s1Y2K1U122W/bg.jpg') no-repeat center center fixed;
  background-size: cover;
/*  #TODO make this a class that you can add to the body and remove based on user login info*/
}
.navbar .navbar-brand {
  font-family: 'Engagement', cursive;
  font-size: 60px;
  font-weight: 400;
  border: 0;
}
.jumbotron {
  background-color: rgba(44, 62, 80,0.9);
  text-align: center;
  min-height: 800px;
  margin-bottom: 0px;
}

#intro.container {
  margin-top: 100px;
  height: 100%;
}

#intro h1 {
  font-family: 'Engagement', cursive;
  color: #e74c3c;
}

#intro p {
  color: #1abc9c;
}

#hints {
  margin-top: 90px;
}
#flash_error{
  color:red;
}

#flash_notice{
  color:green;
}
